@charset "UTF-8";
@font-face {
  font-family: "minicons-webalys";
  src:url("../fonts/demoicons/minicons-webalys.eot");
  src:url("../fonts/demoicons/minicons-webalys.eot?#iefix") format("embedded-opentype"),
    url("../fonts/demoicons/minicons-webalys.ttf") format("truetype"),
    url("../fonts/demoicons/minicons-webalys.svg#minicons-webalys") format("svg"),
    url("../fonts/demoicons/minicons-webalys.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src:url('../fonts/demoicons/FontAwesome.eot');
  src:url('../fonts/demoicons/FontAwesome.eot?#iefix') format('embedded-opentype'),
    url('../fonts/demoicons/FontAwesome.woff') format('woff'),
    url('../fonts/demoicons/FontAwesome.ttf') format('truetype'),
    url('../fonts/demoicons/FontAwesome.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bt-icon:before,
.bt-icon-alt:before {
  font-family: "minicons-webalys";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.bt-icon-alt:before {
  font-family: "FontAwesome";
}

.icon-window-delete:before {
  content: "\e000";
}

.icon-twitter:before {
  content: "\e01c";
}

.icon-gplus:before {
  content: "\e020";
}

.icon-github:before {
  content: "\e021";
}

.icon-facebook:before {
  content: "\e01d";
}

/* Font Awesome */
.icon-step-backward:before {
  content: "\f048";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-play:before {
  content: "\f04b";
}