<div class="col-md-12">
<h1>Over mij</h1>

<div ng-loader style="padding-left: 0;" class="prof col-md-3 col-xs-12 profieltext">
	<div class="ai-circled ai-indicator ai-grey-spin"></div>
  <figure style="opacity:0;">
		<img ng-loader class="img-thumbnail img-responsive" style="width:150px;" alt="Riana Snel" src="./img/profiel.jpg"/>
	</figure>
</div>

	<div itemscope itemtype="http://data-vocabulary.org/Person style="padding-left: 0;" class="col-md-9 col-xs-12">

		<p>Mijn naam is Riana Snel, ik ben al jarenlang een enthousiast paardenliefhebber. In de afgelopen 15 jaar heb ik naast mijn vaste baan altijd een paar uur per week les gegeven. Ik heb veel tijd besteed aan de ontwikkeling van mijn gevoel in het rijden, rijtechnisch (praktisch en theoretisch) en het inzicht in het paardenlichaam en gezondheid, lichaamstaal en gedrag. Het bijdragen aan het plezier in het rijden en het leerproces van ruiter en paard met het lesgeven is één van mijn favoriete bezigheden.</p>

		<p>Variatie is voor lichaam en geest van een paard erg belangrijk, daarom wissel ik het dressuurmatig rijden af met werk aan de hand, longeren, werk met balkjes en buitenrijden. Door verschillende activiteiten af te wisselen leer je steeds beter te kijken naar je eigen paard. Dit is belangrijk voor iedere ruiter.</p>

	</div>

	<div style="padding-left:0px;" class="col-md-12 col-xs-12">

		<p>Door het volgen van verschillende studies en cursussen in de afgelopen jaren, is mijn zicht op de fysieke mogelijkheden van ieder individueel paard gegroeid. Dit is van belang om haalbare doelen voor ruiter en paard te stellen en daarmee frustratie en teleurstellingen te voorkomen. Eerlijkheid, rust en respect in de omgang met de paarden zijn belangrijke basiswaarden. Ik streef naar begrip tussen ruiter en paard, waardoor er meer plezier en betere resultaten ontstaan.</p>

		<p>Op dit moment neem ik deel aan de 6 jarige professionele opleiding bij de NCSAH, waar ik mij weer verder ontwikkel in mijn vaardigheden in het lesgeven, het trainen van paarden, de kennis van anatomie en biomechanica en mijn persoonlijke ontwikkeling.</p>

</div>
</div>
